@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 8rem;
  height: 5rem;
}

header h1 {
  font-size: 2.4rem;
}

header h1 span {
  color: red;
}

.link-container {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 2px red;
  margin-right: 15px;
}

.link-container a {
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  color: #222;
  font-size: 1.1rem;
}

.image-slider-container {
  width: 1000px;
  height: 562px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.slide.current {
  opacity: 1;
}

/*background images*/
.slide:first-child {
  background-image: url(../evo2.jpg);
  background-size: contain;
}

.slide:nth-child(2) {
  background-image: url(../evo3.jpg);
  background-size: contain;
}

.slide:nth-child(3) {
  background-image: url(../evo4.jpg);
  background-size: contain;
}

.slide:nth-child(4) {
  background-image: url(../evo5.jpg);
  background-size: contain;
}

.slide:nth-child(5) {
  background-image: url(../evo6.jpg);
  background-size: contain;
}

.slide:nth-child(6) {
  background-image: url(../evo7.jpg);
  background-size: contain;
}

.slide:nth-child(7) {
  background-image: url(../evo8.jpg);
  background-size: contain;
}

.slide:nth-child(8) {
  background-image: url(../evo9.jpg);
  background-size: contain;
}

.slide:nth-child(9) {
  background-image: url(../evox.jpg);
  background-size: contain;
}

.information {
  display: flex;
  justify-content: center;
}

.information ul {
  list-style-type: circle;
  width: 50%;
}

.information ul li {
  padding-block: 10px;
  font-size: 1.15rem;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  font-family: "Roboto", sans-serif;
}

.information ul li span {
  color: red;
  font-size: 1.25rem;
}

.information ul li p {
  text-indent: 20px;
}

.add-info {
  margin-inline: 30px;
  margin-block: 20px 40px;
}

.add-info h2 {
  font-size: 2.5rem;
  color: red;
  text-align: center;
  margin-block-end: 10px;
}

.add-info p {
  font-size: 1.3rem;
  text-indent: 3rem;
  text-align: center;
}
